@import "config";
// 1rem=16px

/****General****/
* {
  font-family: "Dosis";
  box-sizing: border-box;
}
button:focus {
  box-shadow: 0 0.0625rem 0.5rem rgb(124, 123, 123);
}
/****General End****/

/****Navbar****/
.navbar {
  height: $widthHeight;
  width: 100%;
  border: 0.0625rem solid rgb(224, 221, 221);
  box-shadow: 0 0.0625rem 0.5rem rgb(199, 198, 198);
}
a > img {
  width: 7.875rem;
  height: 3.75rem;
}
a {
  color: $primary-color;
  text-decoration: none;
}
.navbar section {
  @include displayFlex;
  justify-content: space-between;
  width: 100%;

  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    padding: $primaryMeasure;
  }
  a {
    color: $primary-color;
    text-decoration: none;
  }
  .home-products {
    margin-top: $tertiary-measurement;
    margin-left: $secondary-measurement;
    margin-right: -2.1875rem;
  }
  a:hover {
    color: $secondary-color;
  }
}
.signup-login {
  float: right;
  @include displayFlex;
  justify-content: center;
}
.cart-nav {
  height: $fourth-measurement;
  width: 2.5rem;
}
/****Navbar End****/

/****Footer****/
.footer {
  width: 100%;
  @include displayFlex;
  justify-content: center;
  height: $secondary-measurement;
  background-color: rgb(209, 209, 209);
}
/****Footer Ended****/

/****Login page****/
.login {
  @include displayFlex;
  justify-content: space-evenly;
  margin-bottom: $margin-or-padding;
}
.login > div {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}
.login > div > div {
  color: gray;
  font-size: 1.1rem;
  font-weight: bold;
}
input {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid grey $myMeasure;
  padding: $fifth-measurement $primaryMeasure;
  margin-top: -6.25rem;
}
.field {
  color: $primary-color;
  padding-top: $primaryMeasure;
  margin-bottom: -$myMeasure;
  width: 9.375rem;
  display: block;
}
.fields {
  margin-left: -8.125rem;
}
input:focus {
  border-bottom-color: rgb(9, 165, 238);
}
.authButton {
  display: block;
  width: 20.5rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  border: None;
  color: $textColor;
  background-color: $primaryColor;
  @include marginAuto;
}
#error {
  color: red;
  text-align: center;
  padding-bottom: $margin-or-padding;
}
/****Login page End****/

/****HOME PAGE****/
/****carousel ***/
.container-slick {
  padding: $primaryMeasure;
}
.carousel {
  width: 60rem;
  height: 15rem;
  margin: 0 auto;
}

button.slick-prev {
  background-color: rgb(206, 205, 205);
  height: 2rem;
  width: 3rem;
  z-index: 1;
  font-family: inherit;
  padding-bottom: 0.195rem;
}
.slick-prev:before {
  content: "PREV" !important;
  font-size: 0.9rem !important;
  text-align: center !important;
  font-family: "Dosis" !important;
}
.slick-next:before {
  content: "NEXT" !important;
  font-size: 0.9rem !important;
  text-align: center !important;
  font-family: "Dosis" !important;
}
button.slick-next {
  background-color: rgb(206, 205, 205);
  height: 2rem;
  width: 3rem;
  right: -20px;
}

button.slick-prev:focus,
button.slick-next:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
/****Carousel End ****/

.fancy-line {
  border: 0rem;
  height: 0.25rem;
  width: 100%;
  position: relative;
  margin-top: 3.75rem;
  margin-bottom: $secondary-measurement;
}
.fancy-line:before {
  top: 0;
  height: 0.6em;
}
.fancy-line:after {
  height: 0.9em;
  top: calc(-0.5em + -0.9375rem);
}
.fancy-line:before,
.fancy-line:after {
  content: "";
  position: absolute;
  width: 100%;
}
.fancy-line,
.fancy-line:before {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.1) -30%,
    rgba(0, 0, 0, 0) 100%
  );
}
/****categories****/
.home-categories {
  @include displayFlex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
  min-width: 0;
}
#details-section {
  text-align: center;
  div {
    word-wrap: break-word;
    width: 390px;
    font-size: 1.1rem;
    text-align: center;
  }
  h1 {
    font-size: calc(1.3rem + 0.6vw);
  }
  button {
    @extend .authButton;
    height: 2.5rem;
    color: $textColor;
  }
}
.category-image {
  width: 18.75rem;
  height: 12.5rem;
}
/**categories end***/
/***HOME PAGE END***/

/****PRODUCT PAGE****/
/***categories****/
.productPage-categories {
  background-color: rgb(231, 230, 230);
  min-height: 100vh;
  a {
    color: $primary-color;
    text-decoration: none;
    display: block;
    margin-left: $margin-or-padding;
    padding: 0.625rem 0.625rem 0rem $primaryMeasure;
  }
  a:hover {
    color: $secondary-color;
  }
  div {
    height: $fourth-measurement;
    border-bottom: 0.0625rem solid rgb(199, 196, 196);
    box-shadow: 0rem 0.03125rem 0.03125rem rgb(199, 196, 196);
  }
  #highlight {
    background-color: rgb(199, 199, 199);
  }
}

/****products listing****/
.custom-row {
  width: 100%;
}
.my-container {
  width: 88.5rem;
  padding-left: 10.5rem;
}
.products-page-card {
  height: 33.125rem;
  width: 100%;
  z-index: 100;
  box-shadow: $fifth-measurement 0.0625rem 0.6875rem 0px #f7f6f6;

  p {
    margin-top: 1rem;
    padding-bottom: $sixth-measurement;
    font-size: $margin-or-padding;
    height: 3.75rem;
    margin-left: 1.5625rem;
    margin-bottom: 4rem;
  }
  img {
    height: 10.8rem;
    width: 13.125rem;
    display: block;
    @include marginAuto;
    margin-top: $fourth-measurement;
  }
  section {
    height: 8rem;
    width: 13.125rem;
    display: block;
    @include marginAuto;
    background-color: rgb(231, 230, 230);
    overflow: hidden;
    padding-left: 0.7rem;
    padding-top: 0.2rem;
    padding-right: 0.7rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  div {
    display: block;
    @include marginAuto;
    height: $fourth-measurement;
    width: 13.125rem;
    margin-top: $tertiary-measurement;
    @include displayFlex;
    justify-content: space-between;
  }
  button {
    border: None;
    color: $textColor;
    background-color: $primaryColor;
    padding: $sixth-measurement;
    width: $widthHeight;
  }
}
// .center {
//   @include displayFlex;
//   justify-content: center;
//   flex-direction: row;
// }

/****CART****/
.cartcard {
  justify-content: center;
  @include displayFlex;
  height: 100vh;
}
.flex-box {
  border: 0.0125rem solid rgb(131, 127, 127);
  width: 25rem;
  height: 36.25rem;
  background-color: rgb(233, 233, 233);
  position: relative;
}
.flex-box-empty {
  border: 0.0125rem solid rgb(131, 127, 127);
  width: 25rem;
  height: 36.25rem;
  background-color: $textColor;
  position: relative;
}

/****modal view****/
.modal-view {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-flex-nav {
  height: 3.4375rem;
  background-color: rgb(48, 46, 46);

  p {
    color: $textColor;
    padding-top: $primaryMeasure;
    padding-left: $margin-or-padding;
    font-size: 1.1rem;
  }
  span {
    padding-left: 0.375rem;
    font-size: $tertiary-measurement;
  }
  #close-x {
    float: right;
    color: $textColor;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-right: 0.375rem;
    margin-bottom: $primaryMeasure;
    margin-top: -$sixth-measurement;
  }
}
.wrapping {
  overflow-y: auto;
  height: 20.25rem;
}
.cart-items {
  width: 100%;
  background-color: $textColor;
  height: 5rem;
  margin-top: 0.8125rem;

  .lg-7 > p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

.decrement {
  @include plus-minus;
  margin-right: 2rem;
}

.increment {
  @include plus-minus;
}
.plusOrMinus {
  position: absolute;
  bottom: 0.125;
  left: 0.28rem;
  top: -0.45rem;
  color: $textColor;
  width: 0.1rem;
}
.qt {
  position: relative;
  left: -0.9rem;
  top: 0.4rem;
}
.price {
  @extend .qt;
  margin-left: 1rem;
}
.rupees {
  right: $primaryMeasure;
  margin-top: 2.3rem;
}
.apple {
  width: 4.6875rem;
  height: 4.6875rem;
  padding: 0.4375rem;
  margin-left: $primaryMeasure;
}
.wont-find-cheaper {
  @extend .cart-items;
  margin: 0 auto;
  width: 23.125rem;
  height: 2.8125rem;
  margin-top: $tertiary-measurement;
  border-radius: $myMeasure;
  position: relative;
  img {
    width: $widthHeight;
    margin-right: $primaryMeasure;
    padding-left: $primaryMeasure;
    padding-top: $sixth-measurement;
  }
  span {
    font-size: 0.875rem;
    padding-left: $primaryMeasure;
    margin-top: -0.6rem;
    margin-bottom: -$margin-or-padding;
    position: absolute;
    top: $margin-or-padding;
  }
}
.cart-footer {
  background-color: $textColor;
  position: absolute;
  bottom: 0;
  height: 6.875rem;
  width: 100%;
  border-top: 0.0625rem solid rgb(218, 216, 216);
  p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: $primaryMeasure;
  }
  button {
    border: None;
    color: $textColor;
    background-color: $primaryColor;
    margin: 0 auto;
    width: 23.125rem;
    height: $fourth-measurement;
    display: block;
    border-radius: $fifth-measurement;
    position: relative;
    span {
      position: absolute;
      left: $primaryMeasure;
      top: $primaryMeasure;
    }
    p {
      float: right;
      margin-right: $secondary-measurement;
    }
    #cart-price {
      position: absolute;
      right: -11.875rem;
    }
    .rs {
      position: absolute;
      right: -8.875rem;
    }
  }
}
#items {
  color: black;
}


@media (min-width: 700px) {
.mobile-view {
  display: none;
}
.my-container{
  display: block;
}
}
/****grid****/
@media (min-width: 767px) {
  .lg-1,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9,
  .lg-10,
  .lg-11,
  .lg-12 {
    float: left;
  }
  .lg-1 {
    width: 8.33%;
  }

  .lg-2 {
    width: 16.66%;
  }

  .lg-3 {
    width: 25%;
  }

  .lg-4 {
    width: 33%;
  }

  .lg-5 {
    width: 41.66%;
  }

  .lg-6 {
    width: 50%;
  }

  .lg-7 {
    width: 58.33%;
  }
  .lg-8 {
    width: 66.66%;
  }

  .lg-9 {
    width: 74.99%;
  }

  .lg-10 {
    width: 83.33%;
  }

  .lg-11 {
    width: 91.66%;
  }

  .lg-12 {
    width: 100%;
  }
}

@media (min-width: 350px) and (max-width: 766px) {
  .xs-1,
  .xs-2,
  .xs-3,
  .xs-4,
  .xs-5,
  .xs-6,
  .xs-7,
  .xs-8,
  .xs-9,
  .xs-10,
  .xs-11,
  .xs-12 {
    float: left;
  }
  .xs-1 {
    width: 8.33%;
  }

  .xs-2 {
    width: 16.66%;
  }

  .xs-3 {
    width: 25%;
  }

  .xs-4 {
    width: 33%;
  }

  .xs-5 {
    width: 41.66%;
  }

  .xs-6 {
    width: 50%;
  }

  .xs-7 {
    width: 58.33%;
  }
  .xs-8 {
    width: 66.66%;
  }

  .xs-9 {
    width: 74.99%;
  }

  .xs-10 {
    width: 83.33%;
  }

  .xs-11 {
    width: 91.66%;
  }

  .xs-12 {
    width: 100%;
  }
}


/****Mobile device responsiveness****/
@media (min-width: 350px) and(max-width: 766px) {
  /****Navbar Mobile****/
  .navbar {
    position: relative;
  }
  a > img {
    width: 5.875rem;
    height: 2.75rem;
    margin-left: -40px;
  }
  .buttons img{
   padding: 0rem;
}
  .signup-login {
    float: right;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .home-products {
    position: absolute;
    font-size: 0.8rem;
    left: 55px;
    padding: 1px;
  }
  /****Home page Mobile****/
  .carousel {
    width: 19rem;
    height: 7.5rem;
    img {
      height: 7rem;
      width: 15rem;
    }
  }
  .home-categories {
    width: 18rem;
    height: 11rem;
    img {
      height: 5rem;
      width: 8rem;
      margin-left: -1rem;
    }
    #details-section h1 {
      font-size: 1.25rem;
      margin-left: auto;
      margin-right: auto;
      word-wrap: break-word;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    #details-section > div {
      word-wrap: break-word;
      width: 210px;
      font-size: 0.9rem;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    #details-section > button {
      width: 8rem;
      font-size: 0.8rem;
      margin-top: 1rem;
      height: 2.5rem;
    }
  }
  /****Login page Mobile****/
  .fields {
    margin-left: 0.6rem;
  }
  /****Footer Mobile****/
  .footer {
    font-size: 0.7rem;
  }
  /****Product page Mobile****/
  .my-container {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  div > select {
    background-color: $primaryColor;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
    border: transparent;
    height: 2.3rem;
    width: 100%;
  }
  .container-fluid {
    margin-bottom: 1rem;
  }
  img {
    height: 12rem;
    width: 12rem;
    padding-right: 1rem;
  }
  .desc {
    height: 12rem;
    //padding: 1rem;
    width: 11rem;
    margin-left: -0.8rem;
    margin-right: 0.2rem;
    margin-top: 0.5rem;
  }
  .col-6 {
    position: relative;
  }
  .col-6 > section {
    // overflow-wrap: break-word;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 7.3rem;
    width: 11rem;
    font-size: 0.78rem;
    // padding: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.6rem;
    padding-top: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 5rem;
    background-color: #e7e6e6;
    //word-wrap: break-word;
  }
  .col-6 button {
    color: white;
    background-color: $primaryColor;
    border: transparent;
    margin-top: 2rem;
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 11rem;
  }
 /****cart mobile***/
 div.flex-box-empty {
  width: 22rem;
  height: 30.25rem;
 }
 .cart-footer button{
   width: 19rem;
 }
.wont-find-cheaper img{
  width: 7rem;
  height: 2.2rem;
}
.flex-box{
  width: 22rem;
  height: 30rem;
 }
 .wrapping .wont-find-cheaper{
   width: 19rem;
 }
.wont-find-cheaper{
  width: 21rem;
}
.wrapping{
  height: 15rem;
}
div.mobile-view>.row{
  border-bottom: 1px dotted rgb(190, 188, 188);
  margin-bottom: 2rem;
  padding-bottom: 0.6rem;
  height: 270px;
//   margin-right: 1rem;
//   margin-left: 1rem;
}
}
